html,body {
    overflow-x: hidden; 
    margin: 0;
    padding: 0;
    display: flex;
    display: column;
    place-items: center;
    align-items: center;
    justify-content: center;
}

.nav-bar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0.5vw;
    position: fixed;
    color: white;
    font-family: Arial;
    font-size: 1vw;
    z-index: 1;
    width: 100%;
    height: 5vw;
}

.nav-bar-menu li{
    cursor: pointer;
}

.color-nav {
    background: #0000005e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 1vw;
    position: fixed;
    color: white;
    font-family: Arial;
    font-size: 1vw;
    z-index: 1;
    width: 100%;
    height: 5vw;
}

.nav-yuko-logo {
    width: 8em;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.8em;
    margin-left: 42em;
}

.nav-divider {
    color: #CC1819;
}

.landing-background-img {
    display: flex;
    height: 50vw;
    width: 100%;
    align-items: center;
    justify-items: center;
    position: relative;
    z-index: -1;
}

.landing-home-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    z-index: 0;
    top: 27%;
    left: 10%;
    right: 10%;
}

.home-yuko-title {
    font-size: 10vw;
    font-family: Arial;
    font-weight: 900;
    display: flex;
    justify-content: center;
    color: white;
}

.home-yuko-description {
    color: white; 
    width: 60vw;
    font-family: 'Calibri';
    font-size: 1.2vw;
    margin-top: -2vw;
    font-weight: 200;
    display: flex;
    text-align: center;
}

.log-in-button {
    background: linear-gradient(to right,#CC1819, #201DCD);
    padding: 0.8rem;
    color: white;
    margin-top: 2.8vw;
    width: 11vw;
    height: 3.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2vw;
    font-weight: 600;
    font-family: Arial;
    font-size: 1.3vw;
    text-decoration: none;
}
.log-in-button:hover {
    background: linear-gradient(to right, #201DCD, #CC1819);
}
.log-in-button:active {
    width: 10.7vw;
    height: 3.5vw;
    font-size: 1.2vw;
}

.features-landing-section {
    background: linear-gradient(to bottom,#6D171E, #7C0D52);
    padding: 2vw;
    height: 65vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.features-landing {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: 3vw;
    margin-top: 9vw;
    position: absolute;
}

.features-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.features-first-section {
    width: 38vw;
    height: 17vw;
}

.feature-title {
    font-size: 3vw;
    font-family: Arial;
    font-weight: 900;
    color: white;
}

.feature-section-divider {
    background-color: rgb(255, 255, 255);
    height: 17vw;
    width: 0.1vw;
}

.features-top-left-decscription {
    font-family: 'Calibri';
    font-size: 1vw;
    width: 38vw;
    color: white;
}

.features-scroll-section {
    max-height: 17vw;
    width: 45vw;
    text-align: left;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 2.5vw;
}

.features-scroll-section .features {
    background-color: rgba(255, 255, 255, 0);
    border: solid;
    border-color: rgb(255, 255, 255);
    border-width: 0.1rem;
    border-radius: 1.3rem;
    padding: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 43vw;
}

.features-pic-odd {
    width: 15vw;
}

.features-title-odd {
    font-size: 1.7vw;
    font-weight: 600;
}

.features-description-odd {
    font-size: 1vw;
}

.features-pic-even {
    width: 35vw;
}

.features-title-even {
    font-size: 1.7vw;
    font-weight: 600;
}

.features-description-even {
    font-size: 1vw;
}


.features-scroll-section::-webkit-scrollbar {
    background-color: transparent;
}

.features-scroll-section::-webkit-scrollbar-thumb:hover{
    background-color: rgba(196, 3, 3, 0.616);
    border-radius: 2vw;
}

.first-feature-content-odd {
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}

.first-feature-content-even {
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: right;
    margin-right: 3vw;
}

.features-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 6vw;
    height: 30vw;
}

.chatbot1 {
    width: 30vw;
    height: 30vw;
}

.chatbot2 {
    width: 30vw;
    height: 30vw;
}

.dev-landing-section {
    background: linear-gradient(to bottom,#7C0D52, #07061D);
    height: 155vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: -0.5vw;
}

.dev-landing {
    z-index: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 12vw;
}

.dev-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vw;
    font-family: Arial;
    font-weight: 900;
    color: white;
}

.first-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 9vw;
    margin-top: 9.5vw;
}

.first-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 14vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 0;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.first-dev-shape-inside {
    width: 62vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 15vw;
    background: linear-gradient(to right, #050374, #c50e0e);
    border-width: 0.1rem;
    z-index: -1;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.first-dev .first-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.first-dev-pic {
    width: 16vw;
    height: 24vw;
    margin-left: 6vw;
    z-index: 1;
}

.first-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.first-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}


.second-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: right;
    text-align: right;
    margin-bottom: 9vw;
    margin-top: 2.3vw;
    margin-left: 38vw;
    gap: 2vw;

}

.second-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 35.8vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 1;
    margin-left: 39vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
}

.second-dev-shape-inside {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 37vw;
    background-color: transparent;
    border-width: 0.1rem;
    z-index: -1;
    margin-left: 40vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
    background: linear-gradient(to right,#c50e0e, #050374);
}

.second-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.second-dev-infos {
    margin-left: 4vw;
}

.second-dev-pic {
    width: 16vw;
    height: 23vw;
    margin-left: 0vw;
    z-index: 1;
}

.second-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.second-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}



.third-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 9vw;
    margin-top: 1vw;
}

.third-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 57vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 0;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.third-dev-shape-inside {
    width: 62vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 58.2vw;
    background: linear-gradient(to right, #050374, #c50e0e);
    border-width: 0.1rem;
    z-index: -1;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.third-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.third-dev-pic {
    width: 16vw;
    height: 23vw;
    margin-left: 6vw;
    z-index: 1;
}

.third-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.third-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}


.fourth-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: right;
    text-align: right;
    margin-bottom: 9vw;
    margin-top: 2.3vw;
    margin-left: 38vw;
    gap: 2vw;

}

.fourth-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 80vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 1;
    margin-left: 39vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
}

.fourth-dev-shape-inside {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 81vw;
    background-color: transparent;
    border-width: 0.1rem;
    z-index: -1;
    margin-left: 40vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
    background: linear-gradient(to right, #c50e0e, #050374 );
}

.fourth-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.fourth-dev-infos {
    margin-left: 4vw;
}

.fourth-dev-pic {
    width: 16vw;
    height: 23vw;
    margin-left: 0vw;
    z-index: 1;
}

.fourth-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.fourth-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}


.fifth-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    align-items: center;
    gap: 2vw;
    margin-bottom: 9vw;
    margin-top: 1vw;
}

.fifth-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 100.5vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 0;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.fifth-dev-shape-inside {
    width: 62vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 101.5vw;
    background: linear-gradient(to right, #050374, #c50e0e);
    border-width: 0.1rem;
    z-index: -1;
    margin-left: -2.5vw;
    border-top-right-radius: 1.8vw;
    border-bottom-right-radius: 2.2vw;
    transform: skew(20deg);
}

.fifth-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.fifth-dev-pic {
    width: 16vw;
    height: 23vw;
    margin-left: 6vw;
    z-index: 1;
}

.fifth-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.fifth-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}


.sixth-dev {
    width: 63vw;
    height: 11vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: right;
    text-align: right;
    margin-bottom: 9vw;
    margin-top: 2.3vw;
    margin-left: 38vw;
    gap: 2vw;

}

.sixth-dev-shape-outline {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 123vw;
    background-color: transparent;
    border: solid white;
    border-width: 0.1rem;
    z-index: 1;
    margin-left: 39vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
}

.sixth-dev-shape-inside {
    width: 63vw;
    height: 10vw;
    display: flex;
    position: absolute;
    margin-bottom: 9vw;
    margin-top: 124vw;
    background-color: transparent;
    border-width: 0.1rem;
    z-index: -1;
    margin-left: 40vw;
    border-top-left-radius: 1.8vw;
    border-bottom-left-radius: 2.2vw;
    transform: skew(-20deg);
    background: linear-gradient(to right, #c50e0e, #050374);
}

.sixth-dev-infos {
    display: flex;
    flex-direction: column;
    color: white;
}

.sixth-dev-infos {
    margin-left: 4vw;
}

.sixth-dev-pic {
    width: 16vw;
    height: 23vw;
    margin-left: 0vw;
    z-index: 1;
}

.sixth-dev-name {
    font-size: 2.5vw;
    font-family: 'Arial';
    font-weight: 700;
}

.sixth-dev-description {
    font-size: 1.5vw;
    font-family: 'Calibri';
    width: 35vw;
    margin-top: 0.5vw;
}



.landing-footer-section {
    background: #07061D;
    height: 40vw;
    display: flex;
    justify-items: center;
    flex-direction: column;
    margin-top: -0.5vw;
    padding: 3vw;
}

.contacts-landing {
    z-index: 0;
    display: flex;
    margin-left: 3vw;
    margin-top: 12vw;
    margin-bottom: 4vw;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10vw;
}

.footer-left {
    width: 15vw;
    height: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 0.5vw;
    margin-left: -3vw;
    margin-right: 10vw;
}

.footer-left .footer-yuko-logo {
    display: flex;
    justify-self: right;
    align-self: right;
    width: 11vw;
    margin-right: 25vw;
}

.ai-description-footer {
    font-size: 0.8vw;
    margin-top: 1vw;
}

.landing-contacts {
    display: flex;
    flex-direction: row;
}

.footer-other-pages {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    height: 10vw;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    align-self: start;
}

.quick-links-title,
.contacts-title {
    font-size: 1.3vw;
    font-weight: 700;
    margin-bottom: 1vw;
}

.footer-links {
    text-decoration: none;
    color: white;
    font-family: 'Arial';
    font-size: 0.95vw;
}

.footer-socials {
    display: flex;
    flex-direction: row;
    justify-items: left;
    align-content: left;
    gap: 0.7vw;
}

.horizontal-line {
    height: 0.1px;
    width: 90vw;
    background-color: white;
    margin-left: 2vw;
}

.last-section {
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: 1vw;
    z-index: 0;
    justify-content: space-between;
    gap: 10vw;
    width: 90vw;
    margin-left: 2vw;
}

.horizontal-line {
    margin-left: 1vw;
    width: 95%;
    height: 0.1vw
}

.copyrights {
    width: 100%;
    margin-top: 0.5vw;
    font-size: 1vw;
    text-align: center;
}

@media only screen and (max-width: 500px) {
    /* Global body adjustments */
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .nav-bar-container {
        margin: 0;
        padding: 0;
        font-size: 1vw;
        width: 100%;
        height: 16vw;
        overflow-x: hidden;
    }

    .color-nav {
        background: #0000005e;
        transition: 1s;
        width: 100%;
    }

    .nav-yuko-logo {
        margin-top: 1vw;
        width: 25em;
    }
    
    .landing-background-img {
        height: 210vw;
        object-fit: cover;
        width: 100%; /* Ensure no overflow horizontally */
        position: absolute;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: hidden;
        z-index: 0;
    }

    .home-yuko-title {
        margin-top: 2rem;
        font-size: 20vw;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    /* Adjusting the description to remove margins */
    .home-yuko-description {
        width: 100%; /* Use full width */
        font-size: 3vw;
        margin-top: 0;
        font-weight: 200;
        padding: 0;
        overflow-x: hidden;
        overflow-y: hidden;
    }

    /* Log in button spacing and size */
    .log-in-button {
        margin-top: 10vw;
        width: 35vw;
        height: 12vw;
        display: flex;
        border-radius: 7vw;
        font-size: 4vw;
        padding: 0; /* Ensure no extra padding */
    }

    .log-in-button:active {
        width: 34.8vw;
        height: 11.8vw;
        font-size: 3.8vw;
    }

    .features-landing-section {
        padding: 0;
        height: 560vw;
    }

    .features-landing {
        width: 100%;
        margin-top: 230vw;
        margin-left: 0;
    }

    .features-top {
        flex-direction: column;
        justify-content: space-evenly;
        height: 130vw;
        align-items: center;
    }

    .features-first-section {
        width: 100%;
        height: 60vw;
        align-items: center;
        justify-items: center;
    }

    .feature-title {
        font-size: 8vw;
        width: 85vw;
        margin-bottom: 0;
    }

    .features-top-left-decscription {
        font-family: 'Calibri';
        font-size: 3vw;
        width: 84vw;
        color: white;
        height: 45vw;
    }

    .feature-section-divider {
        background-color: rgba(255, 255, 255, 0);
        height: 0;
        width: 0;
    }

    .features-scroll-section {
        max-height: 60vw;
        width: 83vw;
    }

    .features-scroll-section .features {
        border: solid;
        border-color: rgb(255, 255, 255);
        border-width: 0.5px;
        border-radius: 1.3rem;
        padding: 1.5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 79vw;
    }

    .features-pic-odd {
        width: 32vw;
        margin: 1vw;
    }

    .features-pic-even {
        width: 32vw;
        margin: 1vw;
    }


    .features-title-odd {
        font-size: 3.5vw;
        font-weight: 600;
    }

    .features-title-even {
        font-size: 3.5vw;
        font-weight: 600;
    }

    .features-description-odd {
        font-size: 2.5vw;
    }

    .features-description-even {
        font-size: 2.5vw;
    }




    .features-bottom {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2vw;
        height: 180vw;
    }

    .chatbot1, .chatbot2 {
        width: 80vw;
        height: 80vw;
    }

    .dev-landing-section {
        height: 360vw;
        overflow: hidden;
    }

    .dev-landing {
        width: 100%;
        height: 350vw;
        position: absolute;
        overflow: hidden;
    }

    .dev-title {
        font-size: 8vw;
        overflow: hidden;
    }

    .first-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 25vw;
    }

    .first-dev-shape-outline {
        width: 90vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 33vw;
        margin-left: -4.5vw;
        border-width: 0.5px;
    }
    
    .first-dev-shape-inside {
        width: 92vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 35vw;
        margin-left: -8vw;
    }

    .first-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: 4vw;
        margin-right: 1vw;
        z-index: 1;
    }
    
    .first-dev-name {
        font-size: 5vw;
    }
    
    .first-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 45vw;
        margin-top: 0.5vw;
    }
    
    
    .second-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 22.4vw;
    }

    .second-dev-shape-outline {
        width: 92vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 84vw;
        margin-left: 17vw;
        border-width: 0.5px;
    }
    
    .second-dev-shape-inside {
        width: 90vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 86vw;
        margin-left: 18.5vw;
    }

    .second-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: -2vw;
        z-index: 1;
    }
    
    .second-dev-name {
        font-size: 5vw;
        margin-left: -20vw;
    }
    
    .second-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 45vw;
        margin-top: 0.5vw;
        margin-left: -23vw;
    }

    .third-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 21vw;
    }

    .third-dev-shape-outline {
        width: 90vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 134vw;
        margin-left: -4.5vw;
        border-width: 0.5px;
    }
    
    .third-dev-shape-inside {
        width: 92vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 136vw;
        margin-left: -8vw;
    }

    .third-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: 4vw;
        margin-right: 1vw;
        z-index: 1;
    }
    
    .third-dev-name {
        font-size: 5vw;
    }
    
    .third-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 45vw;
        margin-top: 0.5vw;
    }

    .fourth-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 20vw;
    }

    .fourth-dev-shape-outline {
        width: 92vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 183vw;
        margin-left: 17vw;
        border-width: 0.5px;
    }
    
    .fourth-dev-shape-inside {
        width: 90vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 185vw;
        margin-left: 18.5vw;
    }

    .fourth-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: -2vw;
        z-index: 1;
    }
    
    .fourth-dev-name {
        font-size: 5vw;
        margin-left: -20vw;
    }
    
    .fourth-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 46vw;
        margin-top: 0.5vw;
        margin-left: -23vw;
    }

    .fifth-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 23vw;
    }

    .fifth-dev-shape-outline {
        width: 90vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 235vw;
        margin-left: -4.5vw;
        border-width: 0.5px;
    }
    
    .fifth-dev-shape-inside {
        width: 92vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 237vw;
        margin-left: -8vw;
    }

    .fifth-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: 4vw;
        margin-right: 1vw;
        z-index: 1;
    }
    
    .fifth-dev-name {
        font-size: 5vw;
    }
    
    .fifth-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 45vw;
        margin-top: 0.5vw;
    }


    .sixth-dev {
        width: 63vw;
        height: 20vw;
        margin-bottom: 9vw;
        margin-top: 24vw;
    }

    .sixth-dev-shape-outline {
        width: 92vw;
        height: 22vw;
        margin-bottom: 9vw;
        margin-top: 288vw;
        margin-left: 17vw;
        border-width: 0.5px;
    }
    
    .sixth-dev-shape-inside {
        width: 90vw;
        height: 22vw;
        margin-bottom: 11vw;
        margin-top: 290vw;
        margin-left: 18.5vw;
    }

    .sixth-dev-pic {
        width: 35vw;
        height: 35vw;
        margin-left: -2vw;
        z-index: 1;
    }
    
    .sixth-dev-name {
        font-size: 5vw;
        margin-left: -14vw;
        width: 38vw;
    }
    
    .sixth-dev-description {
        font-size: 3.5vw;
        font-family: 'Calibri';
        width: 46vw;
        margin-top: 0.5vw;
        margin-left: -23vw;
    }

    .landing-footer-section {
        background: #07061D;
        height: 50vw;
        display: flex;
        justify-items: center;
        flex-direction: column;
        margin-top: -0.5vw;
        padding: 3vw;
    }

    .contacts-landing {
        gap: 5.8vw;
        margin-bottom: 2vw;
    }

    .footer-left {
        width: 25vw;
        height: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 0.5vw;
        margin-left: -3vw;
        margin-right: 8vw;
    }
    
    .footer-left .footer-yuko-logo {
        width: 25vw;
        margin-right: 25vw;
    }

    .ai-description-footer {
        font-size: 2vw;
        margin-top: 1vw;
    }
    
    .footer-other-pages {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        height: 30vw;
    }
    
    .footer-contacts {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;
        align-self: start;
    }
    
    .quick-links-title,
    .contacts-title {
        font-size: 3.7vw;
        font-weight: 700;
        margin-bottom: 1vw;
    }
    
    .footer-links {
        text-decoration: none;
        color: white;
        font-family: 'Arial';
        font-size: 2.5vw;
        margin-top: 0.5vw;
        margin-bottom: 1vw;
    }

    .footer-socials {
        display: flex;
        flex-direction: row;
        justify-items: left;
        align-content: left;
        gap: 0.7vw;
    }
    
    .horizontal-line {
        height: 0.1vw;
        width: 90vw;
        background-color: white;
        margin-left: 2vw;
    }
    
    .last-section {
        display: flex;
        flex-direction: row;
        color: white;
        margin-top: 1vw;
        z-index: 0;
        justify-content: space-between;
        gap: 10vw;
        width: 90vw;
        margin-left: 2vw;
    }

    .copyrights {
        width: 100%;
        margin-top: 2vw;
        font-size: 2.4vw;
        text-align: center;
    }

}   