/*
.landing-background-img {
    display: flex;
    height: 100vh; 
    width: 100%;
    z-index: -1;
    position: absolute;
    margin: 0; 
    padding: 0; 
    background-color: rgb(148, 148, 0); 
    background-image: url('your-image.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    justify-content: center; 
    align-items: center; 
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3vw 6.5vw;
    position: fixed;
    color: white;
    font-family: Arial;
    font-size: 1vw;
}

.nav-yuko-logo {
    width: 8em;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0.8em;
    margin-left: 40em;
}

.nav-divider {
    color: #CC1819;
}

.home-landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    color: white;
    margin-top: 13.5vw;
}

.home-yuko-title {
    font-size: 10vw;
    font-family: Arial;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.home-yuko-description {
    width: 60vw;
    font-family: 'Calibri';
    font-size: 1.2vw;
    margin-top: -2vw;
    font-weight: 200;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.log-in-button {
    margin-top: 3.5vw;
    background: linear-gradient(to right,#CC1819, #201DCD);
    width: 10.5vw;
    height: 3.2vw;
    font-size: 1.3vw;
    font-weight: 700;
    color: white;
    text-align: center;
    align-content: center;
    justify-self: center;
    border-radius: 5vw;
    text-decoration: none;
}

.features-landing {
    height: 50vw;
    width: 100%;
    background: linear-gradient(to bottom, #6D171E,#1D143E );
    flex-direction: column;
    margin-top: 14.5vw;
    color: white;
}
*/



/*
.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: Arial;
    font-size: 1vw;
    color: white;
    width: 90vw;
    height: 7vw;
    background-color: #201DCD;
}

.nav-yuko-logo {
    width: 8vw;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    gap: 0.8em;
}

.nav-divider {
    color: #CC1819;
}

.home-landing {
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 90vw;
    height: 50vw;
    margin: 0;
    padding: 10vw;
    padding-top: 12vw;
}

.home-yuko-title {
    font-size: 11vw;
    color: white;
    font-weight: 900;
}

.home-yuko-description {
    width: 66vw;
    font-size: 1.2vw;
    color: white;
    margin-top: -1vw;
}

.log-in-button {
    background: linear-gradient(to right,#CC1819, #201DCD);
    padding: 0.8rem;
    color: white;
    margin-top: 2.8vw;
    width: 11vw;
    height: 3.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2vw;
    font-weight: 600;
    font-family: Arial;
    font-size: 1.3vw;
    text-decoration: none;
}

.features-landing-section {
    background-color: #22224e;
    display: flex;
    position: absolute;
    z-index: -1;
    margin-left: -5vw;
    width: 100vw;
    height: 50vw;
    background-position: top;
}

.services-landing-section {
    background-color: #22224e;
    display: flex;
    position: absolute;
    z-index: -1;
    margin-left: -5vw;
    width: 100vw;
    height: 50vw;
    top: 110%;
}

.dev-landing-section {
    background-color: #525272;
    display: flex;
    position: absolute;
    z-index: -1;
    margin-left: -5vw;
    width: 100vw;
    height: 50vw;
    top: 160%;
}

*/


.landing-background-img {
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 50vw;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-family: Arial;
    font-size: 1vw;
    color: white;
    width: 90vw;
    height: 7vw;
    margin-left: 0vw;
    z-index: 2;
}

.nav-bar-menu {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    gap: 0.8em;
}

.nav-yuko-logo {
    width: 8vw;
}

.nav-divider {
    color: #CC1819;
}

.landing-home-content {
    margin-top: 10vw;
}

.home-landing {
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    width: 90vw;
    height: 50vw;
    margin: 0;
}

.home-landing-section {
    height: 100vh;
    margin: 0;
    position: relative;
    z-index: 1;
}

.landing-home-content {
    margin-top: 13vw;
}

.landing-background-img {
    height: 50vw;
    width: 100%;
    z-index: -1;
    position: absolute;
    margin: 0;
    padding: 0;
}

.home-yuko-title {
    font-size: 11vw;
    color: white;
    font-weight: 900;
}

.home-yuko-description {
    width: 66vw;
    font-size: 1.2vw;
    color: white;
    margin-top: -1vw;
}

.get-started-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.log-in-button {
    background: linear-gradient(to right,#CC1819, #201DCD);
    padding: 0.8rem;
    color: white;
    margin-top: 2.8vw;
    width: 11vw;
    height: 3.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 2vw;
    font-weight: 600;
    font-family: Arial;
    font-size: 1.3vw;
    text-decoration: none;
}

.features-landing {
    background: linear-gradient(to bottom,#6D171E, #1D143E);
    position: absolute;
}

.features-first-section {
    background-color: #754448;
    z-index: 1;
}