* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.bg-image {
  display: flex;
  place-items: center;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

body .recover-pass-container {
  background-color: black;
  filter: opacity(95%);
  display: flex;
  position: fixed;
  margin: auto;
  align-items: center;
  justify-content: center;
  min-width: 100vw;
  min-height: 100vh;
}

.recover-pass-container .recover-pass {
  background-color: #EEEEEE;
  filter: opacity(100%);
  width: 32vw;
  height: 17vw;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recover-pass .recover-pass-title {
  color: #002072;
  font-size: 1.77vw;
  font-weight: 900;
  margin-bottom: 1.3vw
}

.recover-pass .recover-pass-desc {
  color: #002072;
  font-family: Calibri, sans-serif;
  font-size: 1.25vw;
  margin-bottom: 1vw;
  width: 26.8vw;
}

.reset-pass-confirmation {
  font-size: 1.1vw;
  font-family: 'Calibri';
  width: 26.7vw;
  margin-bottom: 0.2em;
  color: #ED0101 !important;
}

.recover-pass .recover-pass-email {
  width: 26.8vw;
  height: 2.5vw;
  background-color: #EEEEEE;
  border: solid;
  color: #002072;
  border-color: #002072;
  border-width: 1.9px;
  border-radius: 0.7em;
  padding-left: 2.7vw;
  font-size: 0.9vw;
}

.recover-pass .recover-pass-email::placeholder {
  color: rgb(117, 117, 117);
}

.recover-pass .material-symbols-outlined {
  margin-left: -24vw;
  margin-top: -1.9vw;
  color: rgb(133, 133, 133);
  font-size: 1.3vw;
}

.recover-pass-container .recover-pass :focus ~i{
  color: #002072;
  pointer-events: none;
}

*:focus {
  outline: none;
}

.recover-pass-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1.5vw;
}

.recover-pass-buttons .reset-pass-button:hover {
  background: linear-gradient(to right,  #7602a8, #ED0101);
}

.recover-pass-buttons .reset-pass-button {
  background: linear-gradient(to right, #ED0101, #380050);
  font-size: 0.8vw;
  color: white;
  border: none;
  width: 15.3vw;
  height: 2.3vw;
  border-radius: 2em;
}

.reset-pass-button:active {
  background: linear-gradient(to right,  #7602a8, #ED0101);
  width: 14.95vw;
  height: 2.25vw;
  font-size: 0.75vw;
}
.close-modal {
  background-color: #CFCFCF;
  font-size: 0.8vw;
  color: #002072;
  border: none;
  width: 10.9vw;
  height: 2.3vw;
  border-radius: 2em;
}

.recover-pass-buttons .close-modal:hover {
  background-color: #b9b9b9;
}

.recover-pass-buttons .close-modal:active {
  width: 10.85vw;
  height: 2.25vw;
  font-size: 0.75vw;
}

.yuko-logo {
  width: 20vw;
  margin-right: 7vw;
}

.log-in-container {
  min-width: 100%; 
  margin: auto;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
  padding: 2rem 1.5rem ;
  display: flex;
  gap: 1.31vw;
}

.log-in-container .login-title{
  text-align: center;
  color: white;
  font-size: 3.5vw;
  font-weight: 900;
  margin-bottom: 2vw;
}

.error-message {
  width: 23vw;
  margin-bottom: -0.2vw;
  font-size: 0.9vw;
}

.log-in-form {
  background-color: #002072;
  filter: opacity(85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;     
  width: 30vw;
  height: 32vw;
  border-radius: 2.5rem;
  padding: 1.5vw 4vw 0vw 4vw;
  margin-left: 7vw;
  box-shadow: 15px 15px 10px rgb(0, 0, 0);
}

.log-in-form .input-wrapper {
  height: 60px;
  width: 23vw;
  position: relative;
  margin-top: 0.8vw;
  display: flex;
  flex-direction: row;
}

.log-in-form .input-wrapper .input-field{
  height: 100%;
  width: 100%;
  padding: 0 1.25em 0 3em;
  border-radius: 1rem;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  color: white;
  border-width: 1px;
  font-size: 1.06vw;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.2s ease;
}

.log-in-form .input-wrapper .input-field::placeholder {
  color: rgb(167, 167, 167);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px rgba(187, 9, 53, 0.993) inset;
}

input:-webkit-autofill{
  -webkit-text-fill-color: rgb(255, 255, 255);
}

.log-in-form .input-wrapper i {
  color: rgb(182, 182, 182);
  position: absolute;
  top: 62%;
  left: 1.2rem;
  font-size: 1.3vw;
  pointer-events: none;
  transform: translateY(-65%);
}

.log-in-form .input-wrapper .input-field:focus ~ i {
  color: white;
  text-shadow: 0px 0px 8px rgb(245, 245, 245);
}

.log-in-form .show-user-pass {
  position: absolute;
  width: 5vw;
  font-size: 0.8vw;
  background-color: transparent;
  color: rgb(167, 167, 167);
  border: none;
  text-align: center;
  top: 54%;
  left: 18.5vw;
  transform: translateY(-65%);
}

.log-in-form .show-pass:hover {
  text-shadow: 0px 0px 8px rgb(245, 245, 245);
  color: white;
}

.log-in-form .forgot-password-wrapper {
  width: 23vw;
  display: flex;
  justify-content: left;
  align-items: left;
}

.log-in-form .forgot-pass-link {
  font-size: 1.3em;
  display: flex;
  justify-content: left;
  margin-top: 0.5em;
}

.log-in-form .log-in-button {
  width: 53%;
  height: 53px;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  font-size: 1.2vw;
  font-weight: bold;
  background: linear-gradient(to right, #380050, #ED0101);
  margin-top: 3.5vw;
  border-radius: 2rem;
  transition: background 0.7s ease-in-out;
}

.log-in-form .log-in-button:active {
  width: 52.75%;
  height: 52.75px;
  font-size: 1.1vw;
}

.log-in-form .log-in-button:hover {
  background: linear-gradient(to right, #ED0101, #7602a8);
}

.log-in-container .no-account-text {
  text-align: center;
  width: 25.5vw;
  font-size: 0.9vw;
  color: rgb(167, 167, 167);
  margin-top: 6vw;
  margin-bottom: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.log-in-container a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.sign-up-button {
  font-size: 1em;
  width: 10vw;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-left: 2.5vw;
}

.log-in-container a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 500px) {
  body {
    display: flex;
    display: column;
    place-items: center;
    align-items: center;
    justify-content: center;
    background-image: url(background.png);
  }

  .yuko-logo {
    width: 45vmin;
    display: flex;
    position: fixed;
    top: 15vw;
    left: 27%;
    justify-content: center;
    align-items: center;
  }
  
  .log-in-container .login-title{
    text-align: left;
    width: 81vw;
    color: white;
    font-size: 2.5em;
    font-weight: 900;
    margin-bottom: 3vw;
  }

  .error-message {
    width: 80vw;
    margin-top: 1vw;
    margin-bottom: 1.2vw;
    font-size: 3.5vw;
  }
  
  .log-in-form {
    background-color: transparent;
    filter: opacity(100%);
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;
    position: fixed;   
    width: 80%;
    height: 120vw;
    border: none;
    padding: 0vw 0vw 0vw 0vw;
    left: 12vw;
    margin-left: 0vw;
    margin-top: 85vw;
    box-shadow: none;
  }
  
  .log-in-form .input-wrapper {
    width: 80vw;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.4rem;
  }
  
  .log-in-form .input-wrapper .input-field{
    height: 2.8em;
    width: 100%;
    border-radius: 0.7rem;
    font-size: 4vw;
    padding: 0 1.25em 0 3em;
  }

  .log-in-form .input-wrapper i {
    width: 5vw;
    height: 5vw;
    top: 50%;
    font-size: 4.5vw;
  }

  .log-in-form .show-user-pass {
    background-color: transparent;
    width: 9.2vw;
    height: 5vw;
    top: 6.5vw;
    left: 67vw;
    transform: translateY(-65%);
    font-size: 3.5vw;
  }

  .log-in-form .forgot-password-wrapper {
    width: 80vw;
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: -1vw;
  }

  .log-in-form .forgot-pass-link {
    margin-top: 0em;
    padding-bottom: 30px;
  }

  .log-in-form .log-in-button {
    width: 53%;
    height: 40px;
    color: white;
    font-size: 5vw;
  }

  .log-in-form .log-in-button:active {
    width: 52.95%;
    height: 39.95px;
    font-size: 4.9vw;
  }

  .log-in-container .no-account-text {
    width: 80vw;
    font-size: 0.9em;
    margin-top: 20vw;
  }

  .sign-up-button {
    width: 25vw;
  }

  body .recover-pass-container {
  min-width: 100vw;
  min-height: 100vh;
}

.recover-pass-container .recover-pass {
  background-color: #ffffff;
  filter: opacity(100%);
  width: 32vw;
  height: 17vw;
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recover-pass .recover-pass-title {
  color: #002072;
  font-size: 1.77vw;
  font-weight: 900;
  margin-bottom: 1.5vw
}

.recover-pass .recover-pass-desc {
  font-size: 1vw;
  width: 26.8vw;
}

.recover-pass .recover-pass-email {
  width: 26.8vw;
  height: 2.5vw;
  border-width: 1.9px;
  border-radius: 0.7em;
  padding-left: 2.7vw;
  font-size: 0.9vw;
}

.recover-pass .recover-pass-email::placeholder {
  color: rgb(117, 117, 117);
}

.recover-pass .material-symbols-outlined {
  margin-left: -24vw;
  margin-top: -1.9vw;
  color: rgb(133, 133, 133);
  font-size: 1.3vw;
}

.recover-pass-container .recover-pass :focus ~i{
  color: #002072;
  pointer-events: none;
}

*:focus {
  outline: none;
}

.recover-pass-buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

.recover-pass-buttons .reset-pass-button:hover {
  background: linear-gradient(to right,  #7602a8, #ED0101);
}

.recover-pass-buttons .reset-pass-button {
  background: linear-gradient(to right, #ED0101, #380050);
  font-size: 0.8vw;
  color: white;
  border: none;
  width: 15vw;
  height: 2.3vw;
  border-radius: 2em;
}

.recover-pass-buttons .reset-pass-button:active {
  background: linear-gradient(to right,  #7602a8, #ED0101);
  width: 14.95vw;
  height: 2.25vw;
  font-size: 0.75vw;
}
.recover-pass-buttons .close-modal {
  font-size: 0.8vw;
  width: 10.9vw;
  height: 2.3vw;
  border-radius: 2em;
  margin-top: 0.7vw;
}

.recover-pass-buttons .close-modal:hover {
  background-color: #b9b9b9;
}

.recover-pass-buttons .close-modal:active {
  width: 10.85vw;
  height: 2.25vw;
  font-size: 0.75vw;
}


.recover-pass-container .recover-pass {
  background-color: #EEEEEE;
  filter: opacity(100%);
  width: 75vw;
  height: 50vw;
}

.recover-pass .recover-pass-title {
  font-size: 4vw;
  margin-bottom: 3vw;
}

.recover-pass .recover-pass-desc {
  font-size: 3.15vw;
  width: 61.2vw;
  margin-bottom: 3vw;
}

.reset-pass-confirmation {
  font-size: 3vw;
  font-family: 'Calibri';
  width: 61.2vw;
  margin-bottom: 0.2em;
  color: #ED0101 !important;
}


.recover-pass .recover-pass-email {
  width: 61.2vw;
  height: 6.5vw;
  font-size: 2.9vw;
  padding-left: 7.5vw;
}

.recover-pass .material-symbols-outlined {
  margin-left: -53vw;
  margin-top: -5.10vw;
  color: rgb(133, 133, 133);
  font-size: 3.6vw;
}


.recover-pass-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.15em;
  margin-top: 5vw;
}

.recover-pass-buttons .reset-pass-button {
  background: linear-gradient(to right, #ED0101, #380050);
  font-size: 2.5vw;
  color: rgb(255, 255, 255);
  border: none;
  width: 61.2vw;
  height: 6vw;
  border-radius: 2em;
}

.recover-pass-buttons .reset-pass-button:active {
  width: 59.90vw;
  height: 5.9vw;
  font-size:2.45vw;
}
.recover-pass-buttons .close-modal {
  font-size: 2.5vw;
  width: 60vw;
  height: 6vw;
}

.recover-pass-buttons .close-modal:active {
  width: 59.90vw;
  height: 5.9vw;
  font-size:2.45vw;
}
}