/* Main CSS */
.yuko-container {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: row;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin-left: 1vw;
    min-height: 100vh;
    padding-bottom: 10vw;
    position: relative;
    margin: 0;
}

.main .nav{
    position: fixed;
    top: -250vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vh;
    cursor: pointer;
}

.main .sidebar{
    position: fixed;
    top: -250vw;
}

.main .nav img{
    height: 1.5rem;
}

.main-container{
    padding-top: 4vw;
    padding-bottom: 2vw;
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main .greet{
    padding-bottom: 1.5vh;
    margin: 1vw 0vh;
    font-size: 2.5rem;
    color: #130030c9;
    font-weight: 500;
}

.main .greet span{
    background: -webkit-linear-gradient(16deg,#bb0000,#0000bd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main .cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.main .card{
    height: 5.3vh;
    width: 10vw;
    margin: 0vw 0.6vw;
    padding: 1.4vh;
    background-color: #cfcfdf;
    color: #130030a8;
    border-radius: 9vh;
    cursor: pointer;
}

.main .card:hover{
    background-color: #cfcfdfbd;
    color: #1300308e;
}

.main .message-container{
    display: flex;
    overflow: hidden;
    justify-content: right;
    margin-bottom: -1rem;
    margin-top: 1rem;
    width: 47.5vw;
    min-height: 10vw;
    background-color: #ff000000;
}

.main .message{
    display: flex;
    flex-direction: column;
}

.main-bottom{
    position: absolute;
    bottom: 0; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 100%; 
    max-width: 50vw; 
    padding: 1.5vh 1vw; 
    margin: 0; 
}

.main .search-box-container{
    background-color: #ffffff
}

.search-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2vw;
    background-color: #cfcfdf;
    padding: 1vh 1vw;
    border-radius: 4vw;
}

.search-box .img{
    color: #000000af;
    width: 1.5vw;
    cursor: pointer;
}

.search-box .img:hover{
    color: #050505ce;
}


.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 0.8vw;
    font-size: 1rem;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#send{
    height: 3.9vh;
    width: 3.5vw;
    padding: 8px;
    background-color: #9191bb;
    border-radius: 4vw;
}

#send:hover{
   color: #000000c5;
   background-color: #7f7fa3;
}

.main .bottom-info{
    font-size: 0.9vw;
    margin: 1vw -1vw;
    text-align: center;
    font-weight: 300;
}    

@media only screen and (max-width: 500px) {

    .main .nav{
        position: fixed;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2vh;
        cursor: pointer;
    }
    
    .main .nav img{
        height: 1.2em;
    }

    .main-container{
        padding-top: 1vw;
        display: flex;
        flex-direction: column;
        max-width: 90vw;
        margin: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .main .yuko-icon img{
        height: 30vw;
        margin-bottom: 0.5rem;
    }
    
    .main .greet{
        padding-bottom: 1.5vh;
        margin: 1vw 0vh;
        font-size: 2rem;
        color: #130030c9;
        font-weight: 500;
    }
    
    .main .greet span{
        background: -webkit-linear-gradient(16deg,#bb0000,#0000bd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .main .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    
    .main .card{
        height: 5.3vh;
        width: 10vw;
        margin: 0vw 0.6vw;
        padding: 1.4vh;
        background-color: #cfcfdf;
        color: #130030a8;
        border-radius: 9vh;
        cursor: pointer;
    }
    
    .main .card:hover{
        background-color: #cfcfdfbd;
        color: #1300308e;
    }

    .main .message-container{
        display: flex;
        overflow: hidden;
        justify-content: right;
        width: 85vw;
        background-color: #0051ff00;
    }
    
    .main .message{
        display: flex;
        flex-direction: column;
    }
    
    .main-bottom{
        position: absolute;
        bottom: 0; 
        left: 50%; 
        transform: translateX(-50%); 
        width: 100%; 
        max-width: 90vw; 
        padding: 1.5vh 1vw; 
        margin: 0; 
    }

    .main .search-box-container{
        background-color: #ffffff
    }

    .search-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2vw;
        background-color: #cfcfdf;
        padding: 0.5rem 0.5rem;
        border-radius: 4rem;
        margin-bottom: 0.7rem;
    }
    
    .search-box .img{
        color: #000000af;
        width: 1.5rem;
        cursor: pointer;
    }
    
    .search-box .img:hover{
        color: #050505ce;
    }
    
    
    .search-box input{
        flex: 1;
        background: transparent;
        border: none;
        outline: none;
        padding: 0.3rem;
        font-size: 0.8rem;
    }
    
    .search-box div{
        display: flex;
        align-items: center;
        gap: 0.3rem;
    }
    
    #send{
        height: 1.5rem;
        width: 2.5rem;
        padding: 8px;
        background-color: #9191bb;
        border-radius: 4vw;
    }
    
    #send:hover{
       color: #000000c5;
       background-color: #7f7fa3;
    }
    
    .main .bottom-info{
        font-size: 0.7rem;
        margin: 1vw auto;
        text-align: center;
        font-weight: 300;
    }    
}  
